body {
    margin: 0;
    padding: 20px;
    color: black;
}
h4 {
    color: #1000a4;
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: #535353;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}li{
    color: rgb(0, 8, 169);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}