<footer class="bg-dark text-light">
    <div class="containerP">

  
    <div class="container">
      <div class="row">
        <!-- Columna 1: Logo y descripción -->
        <div class="col-md-4">
          <div class="logo">
            <p class="bebas-neue-regular">hade<img src="../../assets/img/logoSinFondo.png" alt="Logo"></p>
           
          </div>
          <p class="descripcion">Nuestra empresa Hade ofrece una experiencia transparente, accesible y segura establece las bases para garantizar la confianza de nuestros clientes.
            Esta confianza se refuerza aún más mediante la provisión de información completa y precisa, así como una comunicación clara y transparente en todas las etapas del proceso de reserva
          </p>
        </div>
        

        
        <!-- Columna 2: Menú principal -->
        <div class="col-md-4 order-md-2">
          <h5 class="menu">Menú Principal</h5>
          <ul class="list-unstyled">
            <li ><a href="#" class="madimi-one-regular">Inicio</a></li>
            <li><a href="#" class="madimi-one-regular">Productos</a></li>
            <li><a href="#" class="madimi-one-regular"  [routerLink]="['/servicios']">Servicios</a></li>
            <li><a href="#" class="madimi-one-regular">Contacto</a></li>
          </ul>
      
        
    </div>
        <!-- Columna 3: Redes sociales -->
        <div class="col-md-4 order-md-2">
          <h5 class="menu">Redes Sociales</h5>
          <ul class="list-unstyled">
            <a href="https://www.facebook.com/?locale=es_LA"><img class="imgFacecook" src="../../assets/img/facebook.png" alt="facebook"></a>
            <a href="https://twitter.com/"><img class="imgFacecook"  src="../../assets/img/gorjeo.png" alt=""></a>
           <a href="https://www.instagram.com/"><img class="imgFacecook" src="../../assets/img/instagram.png" alt=""></a> 
          </ul>
        </div>
      </div>
    </div>
</div>
  </footer>
  
