<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p class="anton-regular">Contamos con diversos SERVICIOS para ti</p>
<table class="table table-hover custom-table">
    <thead>
     
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><img src="../../assets/img/entregaAuto.png" alt=""></td>
        <th>Flexibilidad de entrega.</th>
        <td>Servicio de entrega y recojida en el lugar que eliga el cliente.</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><img src="../../assets/img/precioIncluido.png" alt=""></td>
        <th>Precio todo incluido.</th>
        <td>Evite sorpresas y pague lo que ve, no tendra incovenientes.</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><img src="../../assets/img/247.png" alt=""></td>
        <th>Asistencia 24/7</th>
        <td>Trabajamos siempre para que usted disfrute sin preocupaciones.</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td><img src="../../assets/img/sillaCoche.png" alt=""></td>
        <th>Silla de bebé</th>
        <td>Disponible para la seguridad de tu bebé.</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td><img src="../../assets/img/mapa.png" alt=""></td>
        <th>GPS</th>
        <td>Se cuenta con GPS con actualizaciones en tiempo real.</td>
      </tr>
    <tr>   
        <th scope="row">6</th>
        <td><img src="../../assets/img/virtual.png" alt=""></td>
        <th>Seguridad</th>
        <td>Vehiculos equipados con sistemas de navegación avanzados y tecnologias de seguridad.</td>
    </tr>

    <tr>
        <th scope="row">7</th>
        <td><img src="../../assets/img/gasolinera.png" alt=""></td>
        <th>Tanque Prepagado</th>
        <td>Prepague su tanque y ahorre tiempo.</td>
    </tr>
    </tbody>
  </table>
</body>
</html>